.box1{
    
    width: 50%;
    height:600px ;
    margin-top: 60px;
    margin-left:320px ;
    padding: 40px;
    
}
.form{
    width: 55%;
    height: 450px;
    background-color: white;
    border: 2px solid #dddd;
    outline: #dddd;
    padding: 40px;
    border-radius: 10px;
    margin-left: 60px;
    
}


.box2{
    text-align: center;
      letter-spacing: -2px;
    
}
.p1{
    text-align: center;
    margin-right:30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 5px;
}

.p2{
    text-align: center;
    margin-right: 40px;
    font-size: 20px;
    margin-top: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }

fieldset{
    height: 40px;
    width: 90%;
    border-radius: 5px;  
    margin-right: 80px;
    font-size: 20px;
    border-color:  #4285F4;
    color: #4285F4;
    
    }
    
   
    
.p3{
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4285F4;
    
}

.p4{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4285F4;
}

    button{width: 30%;
           background-color: white;
         height: 40px;
            margin-top: 20px;
            float: left;
            font-size: 15px;
            text-align: center;
            border-radius: 5px;
            border: none;
            margin-left: -5px;
            padding-left: 1px;
                
}
button:hover{
    background-color: #4286f41c;
}


.btn2{
    width: 25%;
    background-color: #4285F4;
    
      height: 40px;
        
        float: right;
        font-size: 15px;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin-right: 15px;
        }

        .btn2:hover{
            background-color: #145dd3f8;
        }


.a1{
    color: white;
}

a{
    color: #4285F4;
    text-decoration: none;
}